.text-main {
  font-size: 3.2rem;
  color: var(--color-secondary);
  font-weight: 300;
  line-height: 1.5;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    line-height: 1.2;
    font-size: 3rem;
  }

  &::after {
    content: url(../img/pattern-quotes.svg);
    position: absolute;
    top: -6.5rem;
    left: 9.5rem;

    @media only screen and (max-width: $bp-big) {
      top: -7.5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      top: -9rem;
    }
    @media only screen and (max-width: $bp-small) {
      content: none;
    }
  }
}

.heading-tertiary {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.9rem;
}

.btn-wrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  right: -12.5rem;
  transform: translateY(50%);

  @media only screen and (max-width: $bp-small) {
    bottom: 100%;
    transform: translate(50%, -280%);
    right: 50%;
  }
}

.btn {
  border: none;
  padding: 1em 2em;
  display: inline;
}

.btn-previous {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.btn-next {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.btn-previous,
.btn-next {
  background-color: #fff;
}
