.text-main {
  font-size: 3.2rem;
  color: var(--color-secondary);
  font-weight: 300;
  line-height: 1.5;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    line-height: 1.2;
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $bp-tiny) {
    line-height: 1;
  }

  &::after {
    content: url(../img/pattern-quotes.svg);
    position: absolute;
    top: -6.5rem;
    left: 9.5rem;

    @media only screen and (max-width: $bp-big) {
      top: -4.5rem;
      transform: scale(0.65);
      left: 5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      top: -6rem;
    }
    @media only screen and (max-width: $bp-small) {
      content: none;
    }
  }
}

.heading-tertiary {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.9rem;
}

.btn {
  border: none;
  padding: 1em 2em;
  display: inline;
  cursor: pointer;
  outline: none;
  @media only screen and (max-width: $bp-small) {
    padding: 0.8em 1.5em;
  }

  &:hover {
    opacity: 0.9;
    background-color: var(--color-primary);
  }
}

.btn-previous {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.btn-next {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.btn-previous,
.btn-next {
  background-color: #fff;
}
